[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "nitropyapp"
description = "Graphical application to manage Nitrokey devices"
readme = "README.md"
authors = [
  { name = "Nitrokey", email = "pypi@nitrokey.com" },
]
requires-python = ">=3.9"
classifiers=[
  "License :: OSI Approved :: Apache Software License",
  "Intended Audience :: Developers",
  "Intended Audience :: End Users/Desktop",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]

dependencies = [
  "pyqt5",
  "pyqt5-stubs",
  "pyudev",
  "pynitrokey ==0.4.32",
  "pywin32 ==305; sys_platform =='win32'",
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
  "black >=22.1.0,<23",
  "flake8",
  "flit >= 3.2,<4",
  "isort",
  "mypy >=0.900,<0.990",
]

[project.urls]
Source = "https://github.com/Nitrokey/nitrokey-app2"

[project.scripts]
nitropyapp = "nitropyapp:main"

[tool.isort]
py_version = "39"
profile = "black"

[tool.black]
target-version = ["py39"]