[Desktop Entry]
Name=Nitrokey App 2
GenericName=Nitrokey App 2
Comment=Graphical application to manage Nitrokey devices
TryExec=nitrokey-app2
Exec=nitrokey-app2
Icon=nitrokey-app2
Type=Application
Categories=Utility;Security;Qt;
Keywords=Nitrokey;OpenPGP;smart card;Password;FIDO;TOTP;OTP;
