name: Continuous delivery - Windows

on:
  pull_request:
  push:
    branches: [main]
  release:
    types: [prereleased, released]
  workflow_dispatch:

jobs:
  version-check:
    name: Check versioning
    runs-on: windows-latest
    if: github.event_name == 'release'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install required packages
        run: choco install poetry --source python
      - name: Create virtual envrionment
        run: make init
      - name: Check version tag format
        run: |
          $VERSION_TAG="${{ github.event.release.tag_name }}"
          if ($VERSION_TAG -match "^v[0-9]+.[0-9]+.[0-9]+$") {exit 0} else {exit 1}
      - name: Check if version tag and package version are equal
        run: |
          $VERSION_TAG="${{ github.event.release.tag_name }}"
          $VERSION_PACKAGE=poetry version --short
          if ($VERSION_TAG.Substring(1) -eq $VERSION_PACKAGE) {exit 0} else {exit 1}
  build-onedir:
    name: Build onedir
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install required packages
        run: choco install poetry --source python
      - name: Create virtual environment
        run: poetry install
      - name: Create Windows version info file
        run: |
          poetry run create-version-file `
            --outfile .\ci-scripts\windows\pyinstaller\file_version_info.txt `
            --version "$(poetry version --short)" `
            .\ci-scripts\windows\pyinstaller\file_version_info_metadata.yaml
      - name: Build onedir
        run: |
          poetry run pyinstaller ci-scripts/windows/pyinstaller/nitrokey-app-onedir.spec
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nitrokey-app-onedir-unsigned
          path: dist/nitrokey-app
  sign-onedir:
    name: Sign onedir
    runs-on:
      group: "Windows Software Signing"
      labels: ["self-hosted", "Linux", "ARM64"]
    needs: [build-onedir, version-check]
    if: github.event_name == 'release'
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nitrokey-app-onedir-unsigned
          path: dist/nitrokey-app
      - name: Sign the artifact
        run: |
          mv dist/nitrokey-app/nitrokey-app.exe nitrokey-app_unsigned.exe
          osslsigncode \
            sign \
            -provider /usr/lib/x86_64-linux-gnu/engines-3/pkcs11.so \
            -pkcs11module /usr/lib/x86_64-linux-gnu/opensc-pkcs11.so \
            -pkcs11cert "${{ secrets.PKCS11_CERT_URI_WINDOWS }}" \
            -key "${{ secrets.PKCS11_KEY_URI_WINDOWS }}" \
            -h sha256 \
            -ts "http://ts.ssl.com" \
            -in nitrokey-app_unsigned.exe \
            -out nitrokey-app_signed.exe
          mv nitrokey-app_signed.exe dist/nitrokey-app/nitrokey-app.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nitrokey-app-onedir-signed
          path: dist/nitrokey-app
  build-msi-installer:
    name: Build MSI installer
    runs-on: windows-latest
    needs: sign-onedir
    if: github.event_name == 'release'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nitrokey-app-onedir-signed
          path: dist/nitrokey-app
      - name: Create sources file
        run: |
          $Env:Path += ";" + "$Env:WIX" + "bin"
          heat `
            dir .\dist\nitrokey-app\ `
            -dr INSTALLFOLDER `
            -ag `
            -cg ApplicationFilesDynamic `
            -ke `
            -srd -sfrag -suid -sreg `
            -nologo `
            -pog:Binaries `
            -pog:Documents `
            -pog:Satellites `
            -pog:Sources `
            -pog:Content `
            -o Sources.wxs
      - name: Build object files
        run: |
          $Env:Path += ";" + "$Env:WIX" + "bin"
          candle .\ci-scripts\windows\wix\Product.wxs -o Product.wixobj
          candle .\Sources.wxs -o .\Sources.wixobj
      - name: Build installer package
        run: |
          $Env:Path += ";" + "$Env:WIX" + "bin"
          light `
            -b .\dist\nitrokey-app\ `
            -sice:ICE80 `
            .\Product.wixobj `
            .\Sources.wixobj `
            -o nitrokey-app.msi
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nitrokey-app-installer-unsigned
          path: nitrokey-app.msi
  sign-msi-installer:
    name: Sign MSI installer
    runs-on:
      group: "Windows Software Signing"
      labels: ["self-hosted", "Linux", "ARM64"]
    needs: build-msi-installer
    if: github.event_name == 'release'
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nitrokey-app-installer-unsigned
      - name: Sign the artifact
        run: |
          mv nitrokey-app.msi nitrokey-app_unsigned.msi
          osslsigncode \
            sign \
            -provider /usr/lib/x86_64-linux-gnu/engines-3/pkcs11.so \
            -pkcs11module /usr/lib/x86_64-linux-gnu/opensc-pkcs11.so \
            -pkcs11cert "${{ secrets.PKCS11_CERT_URI_WINDOWS }}" \
            -key "${{ secrets.PKCS11_KEY_URI_WINDOWS }}" \
            -h sha256 \
            -ts "http://ts.ssl.com" \
            -in nitrokey-app_unsigned.msi \
            -out nitrokey-app.msi
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nitrokey-app-installer-signed
          path: nitrokey-app.msi
  publish-msi-installer:
    name: Publish MSI installer
    runs-on: windows-latest
    needs: sign-msi-installer
    if: github.event_name == 'release'
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nitrokey-app-installer-signed
      - name: Rename installer
        run: |
          mv `
            nitrokey-app.msi `
            nitrokey-app-${{ github.event.release.tag_name }}-x64-windows-installer.msi
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: nitrokey-app-${{ github.event.release.tag_name }}-x64-windows-installer.msi
